<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="/js/homeJS.js" defer></script>
</head>
<body>
    <h2>Tasks</h2>
	<ul id="list">
		
	</ul>
    <button id="addTask" onmouseover="style='cursor:pointer'">Add Task</button>
    <button id="deleteTask" onmouseover="style='cursor:pointer'">Delete Task</button>
    <button id="updateTask" onmouseover="style='cursor:pointer'">Update Task</button>
</body>
</html>