<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>
	<script src="/js/updateTaskJS.js" defer></script>
</head>
<body>
    <label for="taskPicker">Pick your task: </label>
	<select id="taskPicker" name="taskPicker" required>
	</select> <br>

	<form>
	    <label for="fname">Name </label>
	    <input type="text" id="fname" name="fname" required> <br>
	
	    <label for="fdescription">Description </label>
	    <input type="text" id="fdescription" name="fdescription" required> <br>
	
		
		<label for="fdate">Date:</label>
		<input type="date" id="fdate" name="fdate" required>
		<br>
	
		<label for="priority">Priority: </label>
		<select id="priority" name="priority">
		  <option value="High">High</option>
		  <option value="Medium">Medium</option>
		  <option value="Low">Low</option>
		</select> <br>
	</form>
	
	<button type="submit" id="buttonSubmitTask" onmouseover="style='cursor:pointer'">Submit</button>
	<button id="backButton" onmouseover="style='cursor:pointer'">Back</button>
</body>
</html>